.ap1 {
  /* margin: auto; */
  /* max-width: 800px; */
  /* max-width: 20vw; */
  justify-items: center;
  /* margin: auto; */
  margin: auto;
  /* padding-left: 8vw; */
  /* padding-right: 120px; */
  /* margin-right: auto; */
  box-sizing: border-box;
  width: 45%;
  margin: auto;
  position: absolute;
  margin-left: 16vw;
  overflow-wrap: break-word;
  z-index: -1;
}
.pm22 {
  max-width: 45em;
}
.ap2 {
  display: flex;
  margin-top: 80px;
  margin-bottom: 40px;
  flex-direction: row;
}
.ap3 {
  margin-right: 20px;
  width: 45px;
}
.ap3 > img {
  width: 100%;
  border-radius: 50%;
}
.ap4 > h4 {
  font-weight: 500 !important;
  margin-left: -40px;
}
.ap4 > p {
  margin-left: -60px;
  font-weight: 660;
}
.ap5 {
  display: flex;
  margin-left: auto;
}
.ap51 {
  margin-left: 18px;
}
.ap52 {
  margin-left: 35px;
}
.ap51 :hover {
  fill: black;
  cursor: pointer;
  color: black;
}
.ap6 {
  /* border: 1px solid red; */
  box-sizing: border-box;
  margin-bottom: 20px;
  /* display: flex; */
  max-width: 40vw;
  /* position: absolute; */

  flex-direction: column;
  flex-wrap: wrap;
}
.ap61 {
  margin-right: 800px;
  display: flex;
}
.ap61 > h1 {
  color: black;
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 600;
}
.ap62 {
  max-width: 100%;
  flex-wrap: wrap;
  /* margin-right: 700px; */
}
.ap62 > p {
  color: black;
  font-weight: 400;
  font-size: 18px;
}
.ap7 {
  display: flex;
  margin-top: 60px;
}
.ap71 {
  display: flex;
}
.ap72 {
  display: flex;
  margin-left: auto;
}
.ap711 {
  margin-right: 30px;
  fill: gray;
  color: gray;
}
.ap722 {
  margin-left: 30px;
  fill: gray;
  color: gray;
}
.ap9 {
  display: flex;
  word-wrap: break-word;
  flex-wrap: wrap;
  flex-direction: column;
}
.ap8 {
  font-size: 14px;
  font-weight: 600;
}
.ap91 {
  padding-left: auto;
}
.ap911 {
  margin-left: 30px;
  /* margin-left: auto; */
  display: flex;
  margin-bottom: 15px;
  cursor: pointer;
}
.ap9111 {
  display: flex;
  margin-left: auto;
  cursor: pointer;
}
.ap9h {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
  color: rgb(0 0 0 / 80%);
}
.ap9p {
  font-weight: 400;
  color: rgb(100, 99, 99);
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
}
.ap9 > p {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(117 117 117);
}
.hr {
  color: rgb(117 117 117);
}
.hr1 {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 5vw;
  align-items: center;
}
.hr2 {
  color: black;
  font-size: 15px;
  margin-right: 30px;
}
.hr3 {
  background-color: black;
  padding: 10px 15px 10px 15px;
  border-radius: 40px;
  box-sizing: border-box;
  color: white;
  font-weight: 500;
  cursor: pointer;
}
/* ********************************************************************* */
.load1 {
  text-align: center;
  justify-items: center;
  /* max-width: 400px; */
  /* margin: auto; */
  top: 50 !important;
  width: 45vw;
  padding-top: 80px;
  margin: auto;
  position: absolute;
  margin-left: 15vw;
}

.load2 {
  margin: auto;
  margin-left: 15vw;
}
.load3 {
  /* margin-top: 300px; */
  /* position: absolute; */
  /* width: 175px; */
}
.load4 {
  margin-top: 80px;
  width: 500px;

  /* position: absolute; */
  margin-left: auto;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
}
/* ************************************************************************************* */
/* .pl1 {
  width: 130px;
  height: 270px;
  background-color: black;
  position: absolute;
  border-radius: 5px;
  color: white;
  margin-top: 50px;
  margin-left: -50px;
  text-align: center;
  display: none;
} */
.pl11 {
  margin-top: 15px;
  margin-bottom: 25px;
}
.pl11 > p {
  margin: 10px;
}
.pl12 {
  margin: 20px;
}
.pl13 {
  margin: 20px;
}
